include common/header_about

    //- .works
    //- .slider
    //- .recall
    //- form(class="connection" action="")
    //-     legend Связаться со мной
    //-     input(type='text' name='name')
    //-     input(type='text' name='e-mail')
    //-     input(type='submit' name='pull')
    //-     input(type='reset' name='reset')
    //- footer.footer
    //-     div.footer_menu
    //-         ul
    //-             li: a(href="") Мои работы
    //-             li: a(href="") Обо мне 
    //-             li: a(href="") Блог 
    //-             li: a(href="") Авторизация






//- <svg width="270" height="270" class="g-circles">
//- <circle r="115" cx="135" cy="135" stroke="#ccc" fill="none"/>
//- <circle r="115" cx="135" cy="135" stroke="crimson" class="sector"/>
//- </svg>