
doctype html
html
    include common/_head
    body
        <!--[if lt IE 7]>
        <p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите его</a></p>
        <![endif]-->

        
p.robotobold Привет!

p.robotoitalic Привет!

p.robotolight Привет!

p.bernier_regularregular Привет!

P.bernier_distressedregular Привет!

p.bernier_regularregular Привет!

