/* body{
  height: 100%;
  margin: 0 0 145px; 
}  */
/* прибиваем футер */ 

/* footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 145px; // фиксированая высота футера
} 
 */
 
.header{
  background: url('/assets/img/icons/portfolio_header.svg') no-repeat center, url('/assets/img/header.jpg') no-repeat center;
  height: 600px;
  position: relative;
}
.header_link{
  padding: 30px 30px 0 30px;
}
.sozial_link{
  margin-right: 30px;
}

header .avatar{
  text-align: center;
  position: absolute;
  bottom: 150px;
  left: 50%;
  transform: translate(-50%, -50%);

.avatar_pref{
  color: #fff;
  margin: 0;
  opacity: 0.7;
  font-family: "roboto", "Arial Narrow", sans-serif;
}

}
 .avatar_name{
  font-size: 35px;
  color: #fff;
  margin: 0;
  padding-top: 10px;
  font-family: "roboto", "Arial Narrow", sans-serif;
}
.avatar_pref{
  color: #fff;
  margin: 0;
  opacity: 0.7;
  font-family: "roboto", "Arial Narrow", sans-serif;
}
.avatar_foto-wrap
{
width: 150px;
height: 150px;
border-radius: 50% 50%;
margin: 0 auto;
}
.avatar_foto{
  border-radius:50%;
  width: 100%;
}
.header_sozial{
  float: left;
}
 li.header_sozial_item{
  display: inline-block;
  list-style: none;
}
.header_menu{
  float: right;
}
.arrow{
display: inline-block;
margin-top: 440px;
margin-left: 50%;
text-align: center;
}

.box_wrap{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.box {
  fill:#efeee9;
  font-size: 0;
}