html,body{
    min-height: 100%;
}

footer {
    height: 150px; 
    background-color: rgba(85, 91, 94, 0.8)
} 
 
 .content {
  min-height: 100%;
  margin-bottom: -150px; // Равно высоте футера
}

.content:after {
  content: '';
  display: block;
  height: 150px; // Равно высоте футера
}

.header{
  background: url('/assets/img/icons/portfolio_header.svg') no-repeat center, url('/assets/img/header.jpg') no-repeat center;
  height: 600px;
  position: relative;
}
.header_link{
  padding: 30px 30px 0 30px;
}
.sozial_link{
  margin-right: 30px;
}

header .avatar{
  text-align: center;
  position: absolute;
  bottom: 150px;
  left: 50%;
  transform: translate(-50%, -50%);

}
 .avatar_name{
  font-size: 35px;
  color: #fff;
  margin: 0;
  padding-top: 10px;
  font-family: "roboto", "Arial Narrow", sans-serif;
}
.avatar_pref{
  color: #fff;
  margin: 0;
  opacity: 0.7;
  font-family: "roboto", "Arial Narrow", sans-serif;
}
.avatar_foto-wrap
{
width: 150px;
height: 150px;
border-radius: 50% 50%;
margin: 0 auto;
}
.avatar_foto{
  border-radius:50%;
  width: 100%;
}
.header_sozial{
  float: left;
}
 li.header_sozial_item{
  display: inline-block;
  list-style: none;
}
.header_menu{
  float: right;
}
.arrow{
display: inline-block;
margin-top: 440px;
margin-left: 50%;
text-align: center;
}

.box_wrap{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.box {
  fill:#efeee9;
  font-size: 0;
}

/* Николай */



    .left {
        width: 420px;
        margin-left: 47px;
        background: url('../img/1800_about-bg-2.jpg') no-repeat bottom;
        float: left;
       
        .left_item {
            display: inline-block;
           
            &.text_about {
                font: 3.9375rem/1.5 'sansus_webissimoregular';
                color: #373e42;
                text-transform: uppercase;
                margin: 0 25px;
            }
            
            &.circle-xl {
                margin-bottom: 15px;
                width: 14px;
                height: 14px;
                border-radius: 7px;
                background-color: #373e42;
                opacity: 0.2;
            }

            &.circle-l {
                margin: 0 0;
                margin-bottom: 16.5px;
                width: 10px;
                height: 10px;
                border-radius: 5px;
                background-color: #373e42;
                opacity: 0.2;
            }

            &.circle-s {
                margin-bottom: 19px;
                width: 6px;
                height: 6px;
                border-radius: 3px;
                background-color: #373e42;
                opacity: 0.2;
            }
        }
    }

    // Content center
       
    .center {
        margin: 20px 0 20px 5px;
        width: 443px;


        .center_portrait {
            margin-bottom: 40px;
            
            .portrait_img {
                width: 100%;
            }
        }
        
        .center_heading {
            margin-bottom: 20px;
            text-align: center;
            
            .center_item {
                display: inline-block;
           
                &.text_about {
                    font: 2.1875rem/1.5 'sansus_webissimoregular';
                    color: #5d5a55;
                    text-transform: uppercase;
                }
            
                &.circle-l {
                    margin: 0 0;
                    margin-bottom: 6px;
                    width: 10px;
                    height: 10px;
                    border-radius: 5px;
                    background-color: #000;
                    opacity: 0.2;
                }

                &.circle-s {
                    margin-bottom: 8px;
                    width: 6px;
                    height: 6px;
                    border-radius: 3px;
                    background-color: #000;
                    opacity: 0.2;
                }
            }
        }
        
        .center_text p {
            font: 1rem/1.5 'robotoregular';
            color: #5d5a55;
            padding-right: 10px;
            margin-bottom: 10px;
        }
    }

     // Content right

     .right {
        width: 590px;
        margin-left: 60px;
        float: right;
        
        .pusher {
            height: 10px;
        }

        .heading {
            width: 320px;
            margin: 0 auto 26px;

            .heading_item {
                display: inline-block;
            }

            .text_about {
                font: 2.1875rem 'sansus_webissimoregular';
                color: #5d5a55;
                text-align: center;
                text-transform: uppercase; 
            }

            .circle-l {
                margin: 0 0;
                margin-bottom: 28px;
                width: 10px;
                height: 10px;
                border-radius: 5px;
                background-color: #000;
                opacity: 0.2;
            }

            .circle-s {
                margin-bottom: 30px;
                width: 6px;
                height: 6px;
                border-radius: 3px;
                background-color: #000;
                opacity: 0.2;
            }
        }
        
        .comment {
            margin-bottom: 45px;
            font: 1rem/1.5 'robotoregular';
            color: #5d5a55;
        }
        

        .skills {
            margin-bottom: 40px;

            .skills_name {
                margin-bottom: 0px;
            }

            .skills_item {
                float: left;
                margin-right: 40px;
                position: relative;
                text-align: center;
                width: 120px;
                height: 120px;
                margin-top: -9px;
                margin-bottom: -10px;

                .item_name {
                    position: absolute;
                    font: 0.871875rem/1.5 'robotomedium' #cd8920;
                    color: #cd8920;
                    top: 40%;
                    transform: translateY(-40%);
                    left: 50%;
                    transform: translateX(-50%);
                }

                .g-circles {
                    fill: none;
                    stroke-width: 20px;
                    max-width: 120px;
                    max-height: 120px;
                }

                &.html5 .g-circles {
                    opacity: 0.8;

                    .sector {
                        stroke-dasharray: 250 314;
                        transition: all 1s;
                    }
                }
                
                &.css3 .g-circles {
                    opacity: 0.6;

                    .sector {
                        stroke-dasharray: 188 314;
                        transition: all 1s;
                    }
                }

                &.js .g-circles {
                    opacity: 0.5;

                    .sector {
                        stroke-dasharray: 157 314;
                        transition: all 1s;
                    }
                }

                &.php .g-circles {
                    opacity: 0.6;

                    .sector {
                        stroke-dasharray: 210 314;
                        transition: all 1s;
                    }
                }

                &.mysql .g-circles {
                    opacity: 0.7;

                    .sector {
                        stroke-dasharray: 219 314;
                        transition: all 1s;
                    }
                }

                &.nodejs .g-circles {
                    opacity: 0.5;

                    .sector {
                        stroke-dasharray: 157 314;
                        transition: all 1s;
                    }
                }

                &.mongo .g-circles {
                    opacity: 0.8;

                    .sector {
                        stroke-dasharray: 251 314;
                        transition: all 1s;
                    }
                }
                
                &.git .g-circles {
                    opacity: 0.9;

                    .sector {
                        stroke-dasharray: 282 314;
                        transition: all 1s;
                    }
                }

                &.gulp .g-circles {
                    opacity: 0.7;

                    .sector {
                        stroke-dasharray: 219 314;
                        transition: all 1s;
                    }
                }

                &.bower .g-circles {
                    opacity: 0.9;

                    .sector {
                        stroke-dasharray: 282 314;
                        transition: all 1s;
                    }
                }
            }
            
            .skills_name {
                font: 1.75rem 'robotomedium';
                color: #5d5a55;
                margin-bottom: 20px;
            }
        }
    }




   