
body{
  height: 100%;
} 

 .welcome_wrap, .login_container{
  background: url('/assets/img/welkome.jpg') no-repeat center;
  min-height: 100%;
  overflow: hidden;
  width: 100%;
  position: relative; 
 }

  .welcome-block  .avatar_name, .avatar_pref{
    color: #000;
  }

 .welcome-block{
  background-color: rgba(255, 255, 255, 0.8);
  width: 380px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -190px 0 0 -200px;
 .avatar{
  text-align: center;
  padding-top: 40px;
 }

.avatar_name{
  font-size: 35px;
  color: #455a64;
  margin: 0;
  padding-top: 10px;
  font-family: "roboto", "Arial Narrow", sans-serif;
}
.avatar_pref{
  color: #808f96;
  margin: 0;
  opacity: 0.7;
  font-family: "roboto", "Arial Narrow", sans-serif;
}

.sozial_link{
    fill: #16c2aa;
    margin-top: 21px;
    margin-bottom: 38px;
  }
 }

li.welcome_sozial_item{
  display: inline-block;
  list-style: none;
  padding: 0;
}

 .entry_link{
  display: inline-block;
  float: right;
  padding: 15px 27px;
  margin-top: 25px;
  margin-right: 100px;
  color: #fff;
  border:1px solid white;
 }
 p.create{
  position: absolute;
  bottom: 5px;
  /* bottom: 40px; */
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  opacity: 0.7;
 }





