
body{
  height: 100%;
} 

 .welcome_wrap, .login_container{
  background: url('/assets/img/welkome.jpg') no-repeat center;
  height: 100%;
  width: 100%;
  position: relative;
 }

  .welcome-block  .avatar_name, .avatar_pref{
    color: #000;
  }

 .welcome-block{
  background-color: rgba(255, 255, 255, 0.8);
  width: 380px;
  height: 400px;
  /* margin: 0 auto;
  margin-top: 180px; */
    position: absolute;
 top: 50%;
 left: 50%;
 margin: -190px 0 0 -200px;
 .avatar{
  text-align: center;
  padding-top: 40px;
 }
.sozial_link{
    fill: #16c2aa;
    margin-top: 21px;
    margin-bottom: 21px;
  }
 }


.welcome_btn{
 display: flex;
 justify-content: space-between;
 padding: 0;
 margin: 0;
 text-align: center;

}

li.welcome_sozial_item, .welcome_btn_item{
  display: inline-block;
  list-style: none;
  padding: 0;
}

.btn-green{
  display: inline-block;
  background-color: rgba(8, 172, 153, 0.5);
  padding: 12px 37px;
  color: #fff;
}

.btn-green:hover{
  background-color: rgba(6, 137, 129, 0.5);
}


.login_container  {
 
 .btn-green{
  display: inline-block;
  background-color: rgba(8, 172, 153, 0.5);
  padding: 12px 36px;
  width: 189px;
  font-weight: 550;
}
.btn-green:hover{
  background-color: rgba(6, 137, 129, 0.5);
} 

}

 .entry_link{
  display: inline-block;
  float: right;
  padding: 15px 27px;
  margin-top: 25px;
  margin-right: 100px;
  color: #fff;
  border:1px solid white;
 }
 p.create{
  position: absolute;
  bottom: 5px;
  /* bottom: 40px; */
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  opacity: 0.7;
 }


form{
  text-align: center;
}

input.login {
background-image: url('/assets/img/icons/login.svg');
background-repeat: no-repeat;
background-position: 15px center;
background-size: 15px 15px;
width: 340px;
border-radius: 5px;
padding-left: 5px;
height: 45px;
border-radius: 5px;
padding-left: 60px;
border: none;
position: relative;
} 

input.pass {
background-image: url('/assets/img/icons/password.svg');
background-position: 15px center;
background-size: 15px 15px;
background-repeat: no-repeat;
width: 340px;
border-radius: 5px;
padding-left: 5px;
height: 45px;
border-radius: 5px;
padding-left: 60px;
border: none;
}
.legend{
  font-family: "bernier_regularregular";
  margin: 30px auto;
  text-transform: uppercase;
  font-size: 35px;
  color: #455a64;
}

.legend:after,  .legend:before {
    content: "-";
    display: inline-block;
    color: #c5cbcd;
    padding: 10px;
}

label{
  font-family: "roboto";
  font-size: 16px;
  color: #667780;
}
.chek_label{
  font-weight: bold;
  color:#455a64;
}
