
body{
  height: 100%;
} 

/* прибиваем футер */ 

/* footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 145px; // фиксированая высота футера
} 
 */


/* .g-circles {
 fill: none;
 stroke-width: 25;
 }
 .sector {
 stroke-dasharray: 722;
 stroke-dashoffset: 361;
 transition: all 1s;
 } */


 .welcome_wrap{
  background: url('/assets/img/welkome.jpg') no-repeat center;
  height: 900px;
  width: 100%;
  position: relative;
 }

  .welcome-block  .avatar_name, .avatar_pref{
    color: #000;
  }

 .welcome-block{
  background-color: rgba(255, 255, 255, 0.8);
  width: 380px;
  height: 400px;
  margin: 0 auto;
  margin-top: 180px;
 }
  .welcome-block .sozial_link{
    fill: #16c2aa;
  }
li.welcome_sozial_item{
  display: inline-block;
  list-style: none;
}
.welcome-block .avatar{
  text-align: center; 
}
 .entry_link{
  display: inline-block;
  float: right;
  padding: 15px 27px;
  margin-top: 25px;
  margin-right: 100px;
  color: #fff;
  border:1px solid white;
 }
 p.create{
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  opacity: 0.7;
 }
