.login_container
{
  background: url('/assets/img/welkome.jpg') no-repeat center;
  height: 100%;
  width: 100%;
  position: relative;
}
.login_container .btn-green{
  display: inline-block;
  background-color: rgba(8, 172, 153, 0.5);
  padding: 12px 36px;
  width: 189px;
}