.works_wrap {




.avatar_pref {
  color: #fff;
}

h1.title {
  font-family: "bernier_regularregular";
  text-transform: uppercase;
  color: #373e42;
  text-align: center;
  letter-spacing: 0.08rem;
  margin: 0;
}

.slider {
	background: #f0efe9;
	height: 100vh;
	min-width: 650px;
}

.slider__left {
	float: left;
	width: 50%;
	height: 100%;
	text-align: center;
	position: relative;

	&:before {
		content: "";
		display: inline-block;
		vertical-align: middle;
		height: 100%;
		width: 0;
	}
}

.slider__info {
	display: inline-block;
	vertical-align: middle;
	max-width: 90%;
}

.slider__right {
	background: #efebe0;
	float: left;
	width: 50%;
	height: 100%;
	position: relative;
}

.slider__controls {
	position: absolute;
	bottom: 0;
	left: 25%;
	right: 0;
	height: 25%;
}
h1.title {
  font-size: 63px;
  min-height: 184px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title_works{
    background: url("/assets/img/icons/works_header.svg") no-repeat center;
    background-size: auto;
}

.title_speak {
    background: url("/assets/img/icons/about_header.svg") no-repeat center;
    background-size: auto;
}
.slider__controls-item {
	display: block;
	float: left;
	width: 50%;
	position: relative;
	height: 100%;


	img {
		max-width: 90%;
		max-height: 90%;
	}
}

.slider__controls-item_prev {
	&:after {
		background: url("/assets/img/icons/portf_arrow_down.svg") 0 0 no-repeat;
	}
}

.slider__controls-item_next {
	&:after {
		background: url("/assets/img/icons/portf_arrow_next.svg") 0 0 no-repeat;
	}
}

.slider__display {
	z-index: 1;
	position: absolute;
	top: 0;
	left: 100%;
	width: 100%;
	height: 70%;
	img {
		max-width: 90%;
		max-height: 90%;
	}
}
.people {
    padding-top: 30px;
    background: url("/assets/img/water.jpg") no-repeat center;
    background-size: cover;
    min-height: 1280px;
    overflow: hidden;
    width: 100%;
    position: relative; 
}

.feedback_quotes {
    color: #d6d8d8;
    font-size: 120px;
    line-height: 30px;
    letter-spacing: -0.7rem;
    font-family: "Times New Roman";
    margin: 0;
    padding-top: 30px;
}


.feedback_box {
    width: 780px;
    margin: 0 auto 70px;
}

.people .feedback_item {
    width: 380px;
    float: left;
    }

 .people .feedback_item:first-child{
 margin-right: 20px;
   
 }
 .people .feedback_text {
    font: 1rem 'robotoregular';
    color: #5d5a55;
    line-height: 1.65rem;
    margin-bottom: 21px;
}

.people .form_box {
    width: 380px;
    height: 440px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.3);
    margin: auto;
}

.people .form_box .form_heading .heading_item.heading-text {
    margin: 0 0px;
    text-align: center;
    font: 2.1875rem 'sansus_webissimoregular';
    color: #5d5a55;
    text-transform: uppercase;
    padding-top: 36px;
    padding-bottom: 25px;
  }

 .people .form_item {
    width: 340px;
    height: 45px;
    border-radius: 5px;
    background-color: #fff;
    border: none;
    outline: none;
    margin: 0 20px 20px;
    padding: 10px;
}

    
.people .name, .people .position {
    font: 1rem 'robotobold';
    color: #20b5a1;
}

.person_ava, .person_name{
	display: inline-block;
}
.person_ava{
	float: left;
}
.person_name{
	padding-left: 20px;
	position: relative;
	padding-top: 25px;
}
.name{
	font: 1rem 'robotobold';
	padding-bottom: 5px;
}
.positioin{
	font: 1rem 'robotoregular';
}

.person_ava img{
	border-radius: 50% 50%;
}

textarea.form_item.yourmessage{
	height: 140px;
}

.people{
	position: relative;
}
.arrow_up{
	position: absolute;
	bottom: 215px;
	left: 50%;
	right: 50%;
}
.arrow_up img{
	opacity:0.5;
}

}



//works 2 style




@media (min-width: 1200px){ //media start
	.works_wrap { //ww start
} //ww end
} //media end

@media  (min-width: 780px) and (max-width:1199px) {  //media start
	.works_wrap { //ww start
		header.header{
			background: url('/assets/img/icons/portfolio_header.svg') no-repeat center, url('/assets/img/header.jpg') no-repeat center;
  			min-height: 600px;
 		    position: relative;
		}
} //ww end
} //media end

@media   (min-width: 480px) and (max-width:799px){ //media start
	.works_wrap { //ww start
			header.header{
			background:  url('/assets/img/header.jpg') no-repeat center;
  			min-height: 507px;
 		    position: relative;

		}
} //ww end
} //media end

@media (min-width: 320px){ //media start
	.works_wrap { //ww start
		header.header{
			background:  url('/assets/img/header.jpg') no-repeat center;
  			min-height: 560px;
 		    position: relative;
		}
} //ww end

} //media end